{% load static %}
<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static '/css/style.css' %}">

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css"
        integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
</head>

<body>
    <div class="logo">
        <img src="{% static '/img/logo.jpg'%}" class="img-fluid" alt="Адаптивные изображения">
    </div>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">Ветклиника</a>
        <span>
            {% if user.is_authenticated %}
            <span id="active_user_name" class="nav-link">{{ request.user }}</span>
            <a class="nav-link" href="{% url 'account_logout' %}">Sign Out</a>
            <a class="nav-link" href="{% url 'profile' %}">профиль</a>
            {% else %}
            <a class="nav-link" href="{% url 'account_login' %}">Sign In</a>
            <a class="nav-link" href="{% url 'account_signup' %}">Sign Up</a>
            {% endif %}

        </span>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item active">
                    <a class="nav-link" href="#">Главная<span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'record' %}">Запись на прием</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Скрыть</a>
                </li>
            </ul>
        </div>
    </nav>

    {% if messages %}

    {% for msg in messages %}

    {% if msg.tatg == 'success' %}
    <div class="alert alert-info" role="alert">
        {{ msg }}
    </div>
    {% endif %}

    {% endfor %}

    {% endif %}