<div class="container-fluid mt-3">
    <div class="row padding">
        <div class="col-3">
            <aside>
                <ul class="list-group">
                    <li class="list-group-item">Cras justo odio</li>
                    <li class="list-group-item">Dapibus ac facilisis in</li>
                    <li class="list-group-item">Morbi leo risus</li>
                    <li class="list-group-item">Porta ac consectetur ac</li>
                    <li class="list-group-item">Vestibulum at eros</li>
                </ul>
            </aside>
        </div>
        <div class="col-8">
            <p>
                <span>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ipsum earum adipisci consectetur, ex deserunt dicta est qui molestiae maiores dolor nulla assumenda, tempore dolorum tempora itaque ducimus facilis, commodi sit!</span>
                <span>Praesentium mollitia libero sunt doloribus sapiente, illo in sint laboriosam, voluptate, iste accusantium? Neque ipsa distinctio explicabo, blanditiis assumenda sint, rem unde dolore minus quod, dolorum quis ea consectetur omnis.</span>
                <span>Quae quas sint ipsam excepturi deserunt perferendis, atque eveniet nesciunt exercitationem animi vel sapiente officiis consequatur dolor corrupti dolores. Nesciunt voluptatibus doloremque deserunt mollitia ducimus recusandae odio fugiat sunt dolores!</span>
                <span>Ipsum molestiae aliquid dolores consectetur nam, maxime officiis, repellendus eligendi dignissimos at pariatur! Temporibus, labore praesentium dolore mollitia minus sint, quod optio sunt ut quas iste quidem, repudiandae asperiores deserunt.</span>
            </p>
            <p>
                <span>Excepturi veritatis ullam explicabo vel reiciendis modi dolore iste, aut soluta molestias itaque facilis est, adipisci eius tempore accusantium necessitatibus. Nobis repudiandae pariatur eveniet repellat inventore voluptate aliquid illum rerum!</span>
                <span>Optio et sequi dignissimos assumenda reiciendis accusamus, eveniet, similique ad nulla aliquid quisquam delectus commodi exercitationem aliquam eaque recusandae voluptate? Commodi ut veritatis molestiae repellendus ab aperiam, enim omnis cumque!</span>
                <span>Vero eveniet delectus facilis odit sunt reprehenderit suscipit excepturi ut doloremque eligendi magnam adipisci omnis ratione voluptates tenetur et unde, distinctio architecto non cupiditate ab ducimus iure sapiente veritatis? Laudantium.</span>
                <span>Quae dolores odit alias culpa, earum illo voluptatibus facere aliquam adipisci esse nostrum exercitationem quaerat, rerum minima. Illum quos, aliquam velit, voluptatem a, nostrum voluptatum voluptates doloribus blanditiis consequatur sequi.</span>
            </p>
            <p>
                <span>Ipsam nulla numquam, aliquam at magni voluptatibus tempora repellat earum minus veniam reiciendis nam aut eveniet veritatis quibusdam nemo reprehenderit. Voluptates officia placeat illum fugit et soluta id alias iusto.</span>
                <span>Blanditiis magnam illum possimus porro provident, architecto mollitia obcaecati consequuntur culpa laborum, quod totam sequi voluptatibus rerum id tempora voluptatem nostrum quos harum suscipit ea quibusdam deleniti. Eum, delectus quas?</span>
                <span>Facere autem quisquam dolorum quos dignissimos ratione nihil quod odit porro voluptates laudantium fugiat molestiae, totam quasi pariatur nemo quo fuga. Quis iste expedita, doloribus ducimus voluptas reiciendis dignissimos aspernatur?</span>
                <span>Totam, rerum exercitationem aliquid doloremque animi pariatur soluta obcaecati quos deleniti similique quo ipsam quae nesciunt possimus maxime, enim laborum omnis suscipit cum odit. Reiciendis nemo a neque laboriosam consectetur.</span>
            </p>
        </div>
    </div>
</div>