<hr>
<footer class="container mr-1">
    <div class="container">
        <div class="row padding text-center align-items-lg-center justify-content-lg-between">
            <div class="col-3 box d-flex flex-column justify-content-center nav_footer">
                <a href="#">lorem</a>
                <a href="#">lorem</a>
                <a href="#">lorem</a>
            </div>
            <div class="col-3 box d-flex flex-column justify-content-center nav_footer">
                <a href="#">lorem</a>
                <a href="#">lorem</a>
                <a href="#">lorem</a>
            </div>
            <div class="col-3 box d-flex flex-column justify-content-center nav_footer">
                <a href="#">lorem</a>
                <a href="#">lorem</a>
                <a href="#">lorem</a>
            </div>
        </div>
    </div>
</footer>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
    